.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: yellow;
    
    margin-bottom: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.card-hotel button {
    position: relative;
    bottom: 0;
}