.jumbotron {
  background-color: #d9d336;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #d9d336;
  margin-top: 0px;
  margin-bottom: 10px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel button {
  position: relative;
  bottom: 0; }
