$yellow: #d9d336;
$green: #3aba58;
$red: #ab2c3d;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;    
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 10px);
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: $yellow;
    
    @include margenes(0px, 10px);
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
    @include margenes(10px, 0px);
}

.card-hotel button {
    position: relative;
    bottom: 0;
}