@yellow: #ccae5c;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;    
}

.jumbotron {
    background-color: @yellow;
    color: black;
    margin-top: 50px;
    .margenes(50px, 10px);}
  
  footer {
    padding: 10px 10px 0px 10px;
    background-color: @yellow;
    .margenes(0px, 10px);}
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px); }
  
  .card-hotel button {
    position: relative;
    bottom: 0; }